@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --bg-color1: rgb(255, 255, 255);
    --text-family: 'Ubuntu', sans-serif;
    --text-color: #fefefe;
}

*{
    font-family: var(--text-family);
}

body{
    background: linear-gradient(180deg, rgb(255, 123, 28) 0%, #8dd0f5 100%);
    color: var(--text-color);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.main-loading {
    position: relative;
    height: 100%;
    width: 100vw;
    background: url('../img/loading-background.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    }

    .main-loading::after {
        content: '';
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(1.5rem);
    }

    .main-loading > *{
        position: relative;
        z-index: 2;
    }

    .main-loading > section {
        
        display: flex;
        margin-top: auto;
        flex-direction: column;
        gap: 3em;
        align-items: center;
        justify-content: center;
        padding-bottom: 10em;
    }

    .main-loading footer{
        position: absolute;
        font-size: .7em;
        top: 95%;
        left: 82%;
    }

    progress {
        width: 100%;
        height: .7rem;
        border-radius: 2.5rem;
        overflow: hidden;
    }

    aside > section > h1{
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 2em;
        font-weight: bolder;
    }

    footer > a > span, section > h1 > span{
        color: #2CBEE4;
    }

.glass{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    padding: 2em;
    border-radius: 16px;
    background: #ffffff20;
    box-shadow: 0 10px 30px #ffffff50;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff50;
    transition: 0.4s ease all;
}

.container:hover{
    background: #ffffff30;
    backdrop-filter: blur(20px);
}

.form  h3{
    margin: 1em;
}

.form-input-container{
    display: flex;
}

#city-input, .form-input-container > button{
    background: transparent;
    border: 1px solid #fefefe;
    padding: .8em;
    flex: 1;
    border-radius: 4px;
}

.form-input-container > button{
    cursor: pointer;
}

#city-input::placeholder{
    color: var(--text-color);
    opacity: .5;
}

#city-input:focus{
    border: 1px solid #fefefe;
}

.weather-data{
    border-top: 1px solid #fefefe;
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
}

.weather-data > h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-data > h2 > span{
    font-size: 1.2em;
    padding: 1em;
}

.weather-data > h2 > img{
    width: 30px;
}

#description{
    padding: 1em;
}

#details-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#humidity{
    margin-right: .6em;
    padding: .6em;
    border-right: 1px solid #fefefe;
}

#description-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.hide{
    display: none;
}